@model ICollection<NFLPlayer>
@{
    ViewBag.Title = "Available Players";
}

<h2>Remove Players</h2>

@using (Html.BeginForm("RemovePlayers", "FFTeams")) {
    @Html.AntiForgeryToken()

    var altRow = false;

    foreach (var item in Model) {
        <table>
            <tr style ="color: #000;">
                <td style="background-color:@(altRow ? "#1affff" : "#ffff1a"); height:40px;width:100px;">
                    @Html.CheckBoxFor(x => item.isChecked, new { @Name = item.id })
                </td>
                <td style="background-color:@(altRow ? "#ffff1a" : "#1affff"); height:40px;width:200px;">
                    @Html.DisplayFor(modelItem => item.name)
                    @Html.DisplayFor(modelItem => item.team)
                </td>
                @{altRow = !altRow;}
            </tr>
        </table>

    }
    <input type=hidden name="TeamID" value="ViewBag.TeamID" />
    <input type="submit" value="GO" />
}


