@model IEnumerable<NFLPlayer>

@{
    ViewBag.Title = "View Players On Team";
}

<h2>View Players on Your Team</h2>

<table class="table">

    @{bool altRow = false;}   
    @foreach (var item in Model) {

        <tr>
            <td style="background-color:@(altRow ? "#0099FF" : "#FFFF00"); height:40px;width:100px;">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td style="background-color:@(altRow ? "#FFFF00" : "#0099FF"); height:40px;width:100px;">
                @Html.DisplayFor(modelItem => item.team)
            </td>
            <td style="background-color:@(altRow ? "#0099FF" : "#FFFF00"); height:40px;width:100px;">
                @Html.DisplayFor(modelItem => item.pos)
            </td>
            @{altRow = !altRow;}
        </tr>
    }

</table>
