@model WebApplication1.Models.FFLeague
@{
    ViewBag.Title = "CreateLeagueSuccess";
}

<h2>League @ViewBag.leagueName Created Successfully</h2>

Continue to League @ViewBag.leagueName main page to create team.
@Html.ActionLink("Go To League Main Page", "CreateTeam", "FFTeams", new { LeagueID = ViewBag.id, MaxTeams = ViewBag.maxTeams, NumOfTeams = 1 }, null)