@model WebApplication1.Models.FFTeam

@{
    ViewBag.Title = "CreateTeam";
}

<h2>CreateTeam</h2>


<div class="form-group">
    @Html.LabelFor(model => model.TeamName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.TeamName)
            @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
