@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FFSP</h1>
    <p class="lead">Do something with this...what?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shemp</h2>
    </div>
    <div class="col-md-4">
        <h2>Curly</h2>
    </div>
    <div class="col-md-4">
        <h2>Moe</h2>
    </div>
</div>